/* Variables */
@import 'variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  font-family: 'Poppins', Arial, sans-serif;
  background-color: $primary-color;
  color: $text-color;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Hace que la página ocupe toda la altura de la ventana */
}

main {
  flex: 1; /* Empuja el footer al final */
  display: flex;
  justify-content: center; /* Centra el contenido horizontalmente */
}

.seating-summary-container {
  display: flex; /* Coloca los asientos y el resumen uno al lado del otro */
  justify-content: flex-start; /* Ajusta los asientos y resumen hacia la derecha */
  gap: 50px; /* Más espacio entre los elementos */
  margin: 0 auto;
  max-width: 1200px; /* Define el ancho máximo del contenedor */
  padding-top: 30px; /* Espaciado superior */
}

.screen {
  background-color: $button-color;
  color: $text-color;
  margin: $gap-large auto;
  padding: $gap-small;
  width: 100%;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
}

.seating-container {
  flex: 2; /* Los asientos ocupan más espacio */
  display: flex;
  justify-content: flex-start; /* Mueve los asientos más a la derecha */
  margin-top: 30px;

  .seating-chart {
    display: grid;
    grid-template-columns: repeat(10, 50px); /* Ajusta según la cantidad de columnas */
    gap: 10px;
    margin-bottom: 20px;
  }

  .seat {
    width: 50px;
    height: 50px;
    background-color: $verde;
    cursor: pointer;
    border: 2px solid #000;
    border-radius: 5px;

    &.ocupado {
      background-color: $rojo;
      cursor: not-allowed;
    }

    &.selected {
      background-color: $azul;
    }

    &.comprado {
      background-color: $rojo;
    }
  }
}

.summary {
  flex: 1; /* El resumen ocupa menos espacio */
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra los elementos horizontalmente */
  margin-top: 0; /* Alineado con los asientos */
  padding: 20px;
  background-color: $primary-color;
  color: $text-color;
  border-radius: 10px;

  h2 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
  }

  img {
    width: 100%; /* Ajusta la imagen al ancho del contenedor */
    max-width: 150px; /* Imagen más pequeña */
    height: auto; /* Mantén la proporción de la imagen */
    border-radius: 5px;
    margin-bottom: 10px; /* Espaciado entre la imagen y el texto */
    align-self: center; /* Centra la imagen dentro del resumen */
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center; /* Centra el texto en el resumen */

    li {
      font-size: 16px;
      margin-bottom: 5px;
    }

    li:last-child {
      font-weight: bold;
      margin-top: 10px;
      padding-top: 10px;
      border-top: 1px solid #fff;
      display: inline-block; /* Hacer la línea igual de larga que el texto */
      width: fit-content; /* Ajustar la línea al contenido */
    }
  }

  button {
    width: 150px; /* Botón ajustado al ancho de la imagen */
    padding: 8px; /* Reducir el padding */
    font-size: 14px; /* Letra más pequeña */
    background-color: $azul;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;

    &:hover {
      background-color: $azul-hover; // Color hover predefinido
    }

    &:disabled {
      background-color: #cccccc;
      cursor: not-allowed;
    }
  }
}

@media screen and (min-width: 768px) {
  .seating-chart {
    grid-template-columns: repeat(10, 50px); 
  }
}
