/* Variables */
$primary-color: #fff;
$secondary-color: #000;
$text-color: #E7EAEF;
/* Color de texto para el footer */
$header-bg-color: rgba(0, 0, 0, 0.6);
/* Fondo negro semitransparente */
$footer-bg-color: #000;
/* Fondo del footer igual al de la página */
$border-color: #E7EAEF;
/* Color de bordes del footer */
$max-width: 1200px;
/* Ancho máximo para elementos centrados */

/* Base */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    color: $text-color;
    background-color: $secondary-color;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Header Styles - Mobile First */
.header {
    width: 100%;
    background-image: url('../../img/banners/banner.png');
    background-size: cover;
    background-position: center;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo {
        display: flex;
        align-items: center;

        img {
            width: 40px;
            margin-right: 10px;
        }
    }

    &__nav {
        flex: 1;
        display: flex;
        justify-content: center;

        &-links {
            display: flex;
            gap: 16px;
            background-color: $header-bg-color;
            padding: 8px 16px;
            border-radius: 5px;

            a {
                color: $primary-color;
                font-size: 16px;
                font-weight: bold;

                &:hover {
                    color: lighten($primary-color, 20%);
                }
            }
        }
    }

    &__icons {
        display: flex;
        gap: 8px;

        .icon {
            width: 35px;
            height: 35px;
            background-color: none;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0.8;
            transition: opacity 0.3s;

            &:hover {
                opacity: 1;
            }

            img {
                width: 18px;
                height: 18px;
            }
        }
    }
}

/* Main Content y Titles - Mobile First */

.main-content {
    padding: 20px 15px; // Espaciado general
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    /* Carousel titulo */

    .carousel__titulo {
        margin: 40px 0px;
        text-align: center;

        h1 {
            font-size: 32px; // Ajusta el tamaño según necesites
            font-weight: bold;
            color: $text-color; // Reemplaza por tu variable o color deseado
            margin: 0;
        }
    }
}


/* Carousel Styles - Mobile First */
.carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 0;

    &__main {
        position: relative;
        width: 100%;
        max-width: 600px;
        overflow: hidden;
        height: 400px;
        /* Altura fija para evitar el descuadre */

        .carousel__image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            /* Ajusta la imagen para llenar el contenedor sin distorsión */
            border-radius: 8px;
        }

        .carousel__arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background-color: rgba(0, 0, 0, 0.5);
            color: $primary-color;
            border: none;
            font-size: 32px;
            padding: 8px;
            cursor: pointer;
            border-radius: 50%;
            z-index: 1;

            &--left {
                left: 8px;
            }

            &--right {
                right: 8px;
            }

            &:hover {
                background-color: rgba(0, 0, 0, 0.8);
            }
        }
    }

    &__thumbnails {
        display: flex;
        justify-content: center;
        gap: 8px;
        margin-top: 16px;

        .carousel__thumbnail {
            width: 50px;
            height: 50px;
            object-fit: cover;
            border-radius: 5px;
            cursor: pointer;
            opacity: 0.6;
            transition: opacity 0.3s;

            &:hover,
            &.active {
                opacity: 1;
                border: 2px solid $primary-color;
            }
        }
    }
}

/* Carousel Info Styles - Mobile First */

.info-carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;

    &__thumbnails {
        display: flex;
        justify-content: center;
        gap: 50px;
        margin-bottom: 100px;

        .info-carousel__thumbnail {
            width: 80px;
            height: 80px;
            object-fit: cover;
            border-radius: 50%;
            cursor: pointer;
            transition: transform 0.3s ease, opacity 0.3s ease;
            opacity: 0.7;

            &:hover {
                opacity: 1;
            }

            &.active {
                transform: scale(2); // Escala mayor para la imagen seleccionada
                z-index: 2; // Eleva la imagen seleccionada por encima de las demás
                position: relative; // Evita que la imagen desplazada afecte al layout
                opacity: 1;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); // Sombreado opcional
            }
        }
    }

    &__content {
        text-align: center;
        width: 80%;

        .info-carousel__text {
            display: none; // Ocultar todos los textos por defecto
            font-size: 16px;
            color: $text-color; // Reemplaza $text-color con tu variable de color de texto
            line-height: 24px;

            &.active {
                display: block; // Mostrar solo el texto activo
                animation: fadeIn 0.3s ease-in-out; // Efecto de aparición
            }
        }
    }
}

// Animación para la aparición del texto
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Footer Styles - Mobile First */
.footer {
    width: 100%;
    background-color: $footer-bg-color;
    padding: 15px 0;
    text-align: center;
    color: $text-color;

    &__container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        border: 1px solid $border-color;
    }

    &__logo {
        flex: 1 1 20%;
        text-align: center;
        border-right: 1px solid $border-color;
        padding: 8px;

        img {
            display: block;
            margin: 0 auto 5px;
            width: 35px;
        }

        p {
            font-weight: bold;
            margin-top: 5px;
        }
    }

    &__credits {
        flex: 1 1 30%;
        text-align: center;
        border-right: 1px solid $border-color;
        padding: 8px;

        p {
            font-style: italic;
            color: $text-color;
            font-size: 16px;
        }
    }

    &__contact {
        flex: 1 1 25%;
        text-align: center;
        padding: 8px;
        border-right: 1px solid $border-color;
        border-bottom: 1px solid $border-color;

        &:last-child {
            border-right: none;
        }

        p {
            color: $text-color;
            font-size: 16px;
            font-weight: bold;
        }
    }

    /* For the last row in the grid */
    &__row:last-child .footer__contact {
        border-bottom: none;
    }
}

/* Media Queries for Desktop */
@media (min-width: 768px) {
    .header {
        width: 100vw;
        padding: 24px 32px;
        display: flex;
        justify-content: center;

        &__content {
            max-width: $max-width;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__logo img {
            width: 60px;
        }

        &__nav-links a {
            font-size: 19.2px;
        }

        &__icons .icon {
            width: 50px;
            height: 50px;

            img {
                width: 25px;
                height: 25px;
            }
        }
    }

    .carousel__main {
        max-width: 800px;
        height: 500px;
        /* Altura fija para escritorio */
    }
}

@media (min-width: 1024px) {
    .footer {
        padding: 20px 0;

        &__container {
            gap: 20px;
        }

        &__row {
            border: none;
            /* Borders managed on children */
        }

        &__logo img {
            width: 50px;
        }

        &__credits p {
            font-size: 16px;
        }

        &__contact p {
            font-size: 14.4px;
        }

        &__contact {
            padding: 15px;
        }
    }
}
